# For shadcn 
COMPONENTS_REGISTRY_URL=http://localhost:3003
REGISTRY_URL=http://localhost:3003/registry

# CI
FLEEK_TOKEN=
FLEEK_PROJECT_ID=


## Ecosystems-specific, to be aligned

NEXT_PUBLIC_ONCHAINKIT_API_KEY=

TESTER_PRIVATE_KEY_EAS=

AKAVE_ENDPOINT_URL=
AKAVE_API_KEY=
LIGHTHOUSE_API_KEY=
VITE_LIGHTHOUSE_API_KEY=


ALCHEMY_API_KEY=
STORYBOOK_ALCHEMY_API_KEY=
