# For shadcn 
COMPONENTS_REGISTRY_URL=http://localhost:3003
REGISTRY_URL=http://localhost:3003/registry

# CI
FLEEK_TOKEN=
FLEEK_PROJECT_ID=


## Ecosystems-specific, to be aligned

ONCHAINKIT_API_KEY=

TEST_EAS_PRIVATE_KEY=

AKAVE_ENDPOINT_URL=
AKAVE_API_KEY=
LIGHTHOUSE_API_KEY=


ALCHEMY_API_KEY=
